.questionsTable {
  margin: 20px;
  font-family: Arial, sans-serif;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.tableHeader {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
  background-color: #f2f2f2;
  font-weight: bold;
}

.tableCell {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

.distributionBars {
  display: flex;
  align-items: center;
  height: 20px;
}

.bar {
  height: 10px;
  border-radius: 3px;
  margin: 0 2px;
}
